/* formateo */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

#container-header {
  display: flex;
  background-color: rgba(199, 199, 199, .5);
  padding: 5px;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

#container-header img {
  width: 50px;
  height: 50px;
}

#container-header .buscador {
  border-radius: 25px;
}

/* promo, main */

#container-main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#promo {
  width: 100%;
  background-color: rgb(88, 88, 88);
  margin-top: 4em;
  padding: 5em;
}

#promo h1,
p,
button {
  margin: 10px;
}

#promo button {
  border-radius: 25px;
  width: 10em;
  height: 3em;
}


/* container */

#container {
  width: 100%;
  margin-top: 10px;
  padding: 4em;
}

#container .verTodo i {
  margin: 10px;
}

#container .verProducto {
  color: #7a7a7a;
}

/* sitios-web */

#sitios-web {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

#sitios-web h1 {
  width: 85%;
}

#sitios-web .producto {
  width: 200px;
}

#sitios-web .producto img {
  width: 100%;
}

/* consolas */

#consolas {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

#consolas h1 {
  width: 85%;
}

#consolas .producto {
  width: 200px;
}

#consolas .producto img {
  width: 100%;
}

/* logos */

#logos {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

#logos h1 {
  width: 85%;
  margin: 10px;
}

#logos .producto {
  width: 200px;
}

#logos .producto img {
  width: 100%;
}






